

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Same profile image size */
div.span4 > img{
	min-width: 250px;
	min-height: 500px;
	max-width: 250px;
	max-height: 500px;
}















